# Secrets  never commit
.env

# Pipeline output
station_out/
.station_tmp/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.user

# Logs
*.log

.github/

check-gh-auth.ps1
run-pipeline-podman.ps1
